{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="offset-lg-4 col-lg-6">
           <h3>Fees</h3>
            <form method="">
                <select name="semester" id="sems" onchange="calculate_fees(get_courses)">
                {% for sem in user.getsems() %}
                    <option value="{{sem[0]}}">{{sem[0]}}</option>
                {% endfor %}
                </select>

                <select name="year" id="years" onchange="calculate_fees(get_courses)">
                {% for year in user.getyears() %}
                    <option value="{{year[0]}}">{{year[0]}}</option>
                {% endfor %}
                </select>

            </form>
        </div>
      </div>
	</form>

<script>
var globalResult = []

var get_courses = function ()
{
    term = document.getElementById("sems").value;
    year = document.getElementById("years").value;
    if(sems != "" && years != "")
    {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "http://tinman.cs.gsu.edu:5001/students/my-courses/"+year+"/"+term+"/", true);

        xhttp.onreadystatechange = function() {
            result = JSON.parse(xhttp.responseText)
            if (this.readyState == 4 && this.status == 200)
            {
                for(var i=0; i<result.length; i++)
                {
                    for(var j=0; j<1; j++)
                        globalResult[i] = result[i][j]
                }
            }
            else
            {
                console.error(result)
            }
        };

        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8"); 
        xhttp.send();
    }
    
};

function calculate_fees(callback)
{
    callback()
    num_courses = globalResult.length
    total_fee = num_courses * 500
    divtable = document.getElementById('dvtable')
    divtable.innerHTML = total_fee
}

function get_assistantship()
{

    term = document.getElementById("sems").value;
    year = document.getElementById("years").value;
    if(sems != "" && years != "")
    {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "http://tinman.cs.gsu.edu:5020/student/assistantship/{{userid}}/", true);

        xhttp.onreadystatechange = function() {
            result = JSON.parse(xhttp.responseText)
            if (this.readyState == 4 && this.status == 200)
            {
                for(var i=0; i<result.length; i++)
                {
                    for(var j=0; j<1; j++)
                        globalResult[i] = result[i][j]
                }
            }
            else
            {
                console.error(result)
            }
        };

        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8"); 
        xhttp.send();
    }
    
}

</script>
<div id="dvtable">
</div>
{% endblock content %}
