{% extends "layout.html" %}
{% block content %}
	{% if login %}
	  <div class="navbar-nav left">
		{% if user %}
			<p>Logged in as ~<span class="muted">{{user.getdata()[1] +' '+ user.getdata()[2]}}</span>: &nbsp;<a href="/logout/">Log out</a></p>
		{% endif %}
	  </div>
	  <div class="navbar-nav left">
		  Check Schedule
	  </div>
        <form method="">
            <select name="semester" id="sems" onchange="populate(get_courses)">
            {% for sem in user.getsems() %}
                <option value="{{sem[0]}}">{{sem[0]}}</option>
            {% endfor %}
            </select>

            <select name="year" id="years" onchange="populate(get_courses)">
            {% for year in user.getyears() %}
                <option value="{{year[0]}}">{{year[0]}}</option>
            {% endfor %}
            </select>

            <select name="dept" id="dept" onchange="populate(get_courses)">
            {% for dept in depts %}
                <option value="{{dept[0]}}">{{dept[0]}}</option>
            {% endfor %}
            </select>
			<a href="/student/schedule/" class="btn btn-success">Check schedule</a>
        </form>
	{% endif %}
<script>
var globalResult = [];
function get_xhr(resp)
{
    return resp;
}   

var get_courses = function (callback)
{
    term = document.getElementById("sems").value;
    year = document.getElementById("years").value;
    if(sems != "" && years != "")
    {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "http://tinman.cs.gsu.edu:5001/students/my-courses/"+year+"/"+term+"/", true);

        xhttp.onreadystatechange = function() {
            result = JSON.parse(xhttp.responseText)
            if (this.readyState == 4 && this.status == 200)
            {
                for(var i=0; i<result.length; i++)
                {
                    for(var j=0; j<1; j++)
                        globalResult[i] = result[i][j]
                }
                callback(result)
            }
            else
            {
                console.error(result)
            }
        };

        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8"); 
        xhttp.send();
    }
    
};

function populate(callback)
{
    sems = document.getElementById("sems").value;
    years = document.getElementById("years").value;
    dept = document.getElementById("dept").value;
    data = {};
    data.term = sems;
    data.year = years;
    data.dept = dept;
    r = callback(get_xhr)
    res = globalResult;
    console.log(res)
    if(sems != "" && years != "")
    {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "http://tinman.cs.gsu.edu:5001/home/data/", true);
        xhttp.onreadystatechange = function() {
            courses = JSON.parse(xhttp.responseText)
            if (this.readyState == 4 && this.status == 200) {
                var t = document.createElement("TABLE")
                t.classList.add('table')

                var headings = ["CRN", "Course Number", "Days", "Start Time", "End time", "Room", "Cap", "Instructor"]
                var row = t.insertRow(-1);
                for(var i=0; i<headings.length; i++)
                {
                    var headerCell = document.createElement("TH");
                    headerCell.innerHTML = headings[i];
                    row.appendChild(headerCell);
                }
                for(var i=0; i<courses.length; i++)
                {
                    var row = t.insertRow(-1)
                    var crn = 0
                    for(var j=0; j<courses[0].length; j++)
                    {
                        var cell = row.insertCell(-1)
                        cell.innerHTML = courses[i][j]
                        if(j==0)
                            crn = courses[i][j]
                    }
                    var cell = row.insertCell(-1)

                    if(res.includes(crn))
                    {
                        cell.innerHTML = "<input type=checkbox value="+crn+" checked onclick=process(this) />"
                    }
                    else
                        cell.innerHTML = "<input type=checkbox value="+crn+" onclick=process(this) />"

                }
                var dvTable = document.getElementById("dvtable");
                dvTable.innerHTML = "";
                dvTable.appendChild(t);}
            else
            {
                //console.error(courses)
            }
        };

        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8"); 
        xhttp.send(JSON.stringify(data));
    }
}

function process(element)
{
    checked = element.checked;
    crn = element.value;
    sems = document.getElementById("sems").value;
    years = document.getElementById("years").value;
    years = parseInt(years)
    data = {}
    data.term = sems
    data.year = years
    data.crn = crn
    if(sems != "" && years != "")
    {
        var xhttp = new XMLHttpRequest();
        if(checked)
            xhttp.open("POST", "http://tinman.cs.gsu.edu:5001/home/add/", true);
        else
            xhttp.open("POST", "http://tinman.cs.gsu.edu:5001/home/drop/", true);

        xhttp.onreadystatechange = function() {
            result = JSON.parse(xhttp.responseText)
            if (this.readyState == 4 && this.status == 200)
            {
                console.log(result)
            }
            else
            {
                console.error(result)
            }
        };

        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8"); 
        xhttp.send(JSON.stringify(data));
    }
}

document.onload = populate(get_courses);
</script>
<div id="dvtable">
</div>
{% endblock content %}
